<!-- Navbar -->
<nav class="navbar navbar-custom navbar-fixed-top">
    <!-- Start Top Bar -->
    <div class="top-bar hidden-xs hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <!-- Start Contact Info -->
                    <ul class="contact-details">
                        <% @company.each do |info| %>
                          <li><i class="fa fa-map-marker"></i><%= info.address %></li>
                          <li><i class="fa fa-envelope"></i><%= mail_to info.email, info.email %></li>
                          <li><i class="fa fa-phone"></i><%= info.phone_1 %></li>
                          <li><i class="fa fa-phone"></i><%= info.phone_2 %></li>
                        <% end %>
                    </ul>
                    <!-- End Contact Info -->
                </div>
                <div class="col-md-2">
                    <!-- Start Social Links -->
                    <ul class="social-list">
                        <li><a title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a title="Google Plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                    <!-- End Social Links -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Top bar -->
    <div class="container">
        <!-- navbar -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <!-- Logo -->
            <div class="page-scroll">
              <!--Font Icon logo and text -->
              <% @company.each do |info| %>
              <%= link_to info.name, root_path, class: 'navbar-brand' %>
            <% end%>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav page-scroll">
                <li class="active"><a href="#page-top">Trang chủ</a></li>
                <li><a href="#adoption">Thư ngỏ</a></li>
                <li><a href="#services">Dịch vụ</a></li>
                <li><a href="#gallery">Hình ảnh</a></li>
                <li><a href="#about">Giới thiệu</a></li>
                <li><a href="#contact">Liên hệ</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar ends -->
<!-- Full Page Image Background Slider -->
<div class="slider-container">
    <!-- Controls -->
    <div class="slider-control left inactive"></div>
    <div class="slider-control right"></div>
    <ul class="slider-pagi"></ul>
    <!--Slider -->
    <div class="slider">
        <!-- Slide 1 -->
        <div class="slide slide-0 active">
            <div class="slide__bg"></div>
            <div class="slide__content">
                <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                    <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                </svg>
                <div class="slide__text">
                    <% @company.each do |info| %>
                    <h2 class="slide__text-heading"><%= info.name %></h2>
                    <div class="hidden-sm hidden-xs">
                        <p class="lead">
                            <i class="fa fa-phone"></i> <%= info.phone_1 %>
                            <br/>
                            <i class="fa fa-phone"></i> <%= info.phone_2 %>
                        <% end %>
                        </p>
                        <div class="page-scroll">
                            <a href="#contact" class="btn btn-default">Liên hệ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide 2 -->
        <div class="slide slide-1">
            <div class="slide__bg"></div>
            <div class="slide__content">
                <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                    <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                </svg>
                <div class="slide__text">
                    <h2 class="slide__text-heading">Dịch Vụ Cho Thuê</h2>
                    <div class="hidden-sm hidden-xs">
                        <p class="lead">Bàn ghế, Chén dĩa, Sân khấu, Thiết bị sự kiện, Dụng cụ tổ chức tiệc - sự kiện.</p>
                        <div class="page-scroll">
                            <a href="#contact" class="btn btn-default">Liên hệ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide 3-->
        <div class="slide slide-2">
            <div class="slide__bg"></div>
            <div class="slide__content">
                <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                    <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                </svg>
                <div class="slide__text">
                    <h2 class="slide__text-heading">Dịch Vụ Tư Vấn & Tổ Chức Tiệc Trọn Gói</h2>
                    <div class="hidden-sm hidden-xs">
                        <p class="lead">
                            Nhận tư vấn & tổ chức tiệc - sự kiện linh động, trọn gói.</p>
                        <div class="page-scroll">
                            <a href="#contact" class="btn btn-default">Liên hệ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide 4-->
        <div class="slide slide-3">
            <div class="slide__bg"></div>
            <div class="slide__content">
                <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                    <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                </svg>
                <div class="slide__text">
                    <h2 class="slide__text-heading">Dịch Vụ Trang Trí</h2>
                    <div class="hidden-sm hidden-xs">
                        <p class="lead">Trang trí bàn gia tiên, sân khấu, quầy buffet, tiệc - sự kiện, bàn lễ tân,...</p>
                        <div class="page-scroll">
                            <a href="#contact" class="btn btn-default">Liên hệ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Slider ends -->

<!-- Section Adoption -->
<section id="adoption" class="home-section">
    <div class="col-lg-8 col-lg-offset-2">
        <!-- Section Heading -->
        <div class="section-heading">
            <h2>Thư ngỏ</h2>
            <hr>
        </div>
    </div>
    <div class="container">
        <div class="row wow fadeInDown" data-wow-delay="0.2s">
          <% @letter.each do |info| %>
              <!-- Image -->
              <div class="col-md-4 col-sm-12 res-margin">
                  <img src="<%= info.image_url if info.image_url? %>" width="800" alt="700" class="img-responsive" alt="<%= info.title %>">
              </div>
              <div class="col-md-8">
                  <!-- Text -->
                  <h3><%= info.title %></h3>
                  <p><%= info.content.html_safe %></p>
              </div>
            <% end %>
        </div>
        <!--/row-->
    </div>
    <!-- /container -->
</section>
<!-- Section ends -->

<!-- Section services -->
<section id="services" class="home-section">
    <div class="col-lg-8 col-lg-offset-2">
        <!-- Section heading -->
        <div class="section-heading">
            <h2>DỊCH VỤ</h2>
            <hr>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- item -->
             <% @service_first.each do |info| %>
              <div class="col-md-4 col-sm-12 wow fadeInLeft" data-wow-delay="0.2s">
               
                  <div class="img-wrapper">
                      <img src="<%= info.image_url if info.image_url? %>" alt="<%= info.title %>" class="img-responsive" width="900" height="524" />
                  </div>
                  <h4 class="text-justify"><%= info.title %></h4>
                  <p class="text-justify"><%= info.content %></p>
              </div>
            <!-- /col-md-4-->
            <% end %>
        </div>
    </div>
</section>
<!-- /Section ends -->

<!-- Section Gallery -->
<section id="gallery" class="home-section">
    <div class="col-lg-8 col-lg-offset-2">
        <!-- Section heading -->
        <div class="section-heading">
            <h2>HÌNH ẢNH</h2>
            <hr>
        </div>
    </div>
    <div class="container wow fadeInDown" data-wow-delay="0.2s">
        <div class="nav-gallery col-md-12">
            <!-- Navigation -->
            <ul class="list-inline nav type cat">
                <li class="active"><a href="#" data-filter="*">Tất cả</a></li>
                <li><a href="#" data-filter=".dogcat">Bàn ghế</a></li>
                <li><a href="#" data-filter=".other">Chén dĩa</a></li>
            </ul>
        </div>
        <!-- Gallery -->
        <div class="row">
            <div class="col-md-12">
                <div id="lightbox">
                  <% @picture.each do |item| %>
                    <% if item.type.title == "Bàn ghế" %>
                      <!-- Image -->
                      <div class="col-sm-6 col-md-6 col-lg-4 dogcat">
                          <div class="portfolio-item">
                              <div class="gallery-thumb">
                                  <img src="<%= item.image_url if item.image_url? %>" alt="<%= item.title %>" class="img-responsive" width="800" height="640" />
                                  <span class="overlay-mask"></span>
                                  <a href="<%= item.image_url if item.image_url? %>" data-gal="prettyPhoto[gallery]" class="link centered" title="<%= item.title %>">
                                  <i class="fa fa-expand"></i></a>
                              </div>
                          </div>
                      </div>
                    <% elsif  item.type.title == "Chén dĩa" %>
                      <!-- Image -->
                      <div class="col-sm-6 col-md-6 col-lg-4 other">
                          <div class="portfolio-item">
                              <div class="gallery-thumb">
                                  <img src="<%= item.image_url if item.image_url? %>" alt="<%= item.title %>" class="img-responsive" width="800" height="640" />
                                  <span class="overlay-mask"></span>
                                  <a href="<%= item.image_url if item.image_url? %>" data-gal="prettyPhoto[gallery]" class="link centered" title="<%= item.title %>">
                                  <i class="fa fa-expand"></i></a>
                              </div>
                          </div>
                      </div>
                    <% else %>
                      <!-- Image -->
                      <div class="col-sm-6 col-md-6 col-lg-4">
                          <div class="portfolio-item">
                              <div class="gallery-thumb">
                                  <img src="<%= item.image_url if item.image_url? %>" alt="<%= item.title %>" class="img-responsive" width="800px" height="640px" />
                                  <span class="overlay-mask"></span>
                                  <a href="<%= item.image_url if item.image_url? %>" data-gal="prettyPhoto[gallery]" class="link centered" title="<%= item.title %>">
                                  <i class="fa fa-expand"></i></a>
                              </div>
                          </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <!-- /lightbox-->
            </div>
            <!-- /col-md-12-->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>
<!-- Section ends -->

<!-- Section About -->
<section id="about" class="home-section">
    <div class="col-lg-8 col-lg-offset-2">
        <!-- Section Heading -->
        <div class="section-heading">
            <h2>Giới thiệu</h2>
            <hr>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-centered">
        <div class="centered-pills">
            <!-- Navigation -->
            <ul class="nav nav-pills">
                <li class="active"><a href="#pane1" data-toggle="tab">Lời giới thiệu</a></li>
                <li><a href="#pane2" data-toggle="tab">Dịch vụ hoạt động</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <!-- Panels start -->
        <div class="tabbable">
            <div class="tab-content">
                <!-- Panel  1 -->
                <div id="pane1" class="paneltab tab-pane fade active in">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                          <% @company.each do |info| %>
                              <div class="col-lg-7 col-md-10 col-sm-12 res-margin wow fadeInRight" data-wow-delay="0.2s">
                                  <h3><%= info.name %></h3>
                                  <p class="text-justify"><%= info.intro %></p> 
                              </div>
                              <div class="col-lg-5 col-lg-offset-0 col-md-offset-1 col-sm-12 wow fadeInLeft" data-wow-delay="0.2s">
                                  <img src="<%= info.image_url if info.image_url? %>" alt="<%= info.name %>" class="img-responsive" width="800" height="700" />
                              </div>
                          <% end %>
                        </div>
                    </div>
                </div>
                <!-- Panel 1 ends -->

                <!-- Panel 2 -->
                <div id="pane2" class="paneltab tab-pane fade">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 res-margin">
                            <h3>Dịch vụ hoạt động</h3>
                            <% @company.each do |info| %>
                              <p><%= info.description.html_safe %></p>
                            <% end %>
                        </div>
                        <!-- icons -->
                        <div class="col-xs-12 col-md-4 col-lg-4">
                            <div class="box">
                                <div class="icon">
                                    <div class="image"><span class="glyphicon-pushpin"></span></div>
                                    <h5>Dịch Vụ Tổ Chức Tiệc Trọn Gói</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-4">
                            <div class="box">
                                <div class="icon">
                                    <div class="image"><span class="glyphicon-calendar"></span></div>
                                    <h5>Dịch Vụ Cho Thuê Dụng Cụ, Thiết Bị Tổ Chức Tiệc - Sự Kiện</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-4">
                            <div class="box">
                                <div class="icon">
                                    <div class="image"><span class="glyphicon-bell"></span></div>
                                    <h5>Dịch vụ trang trí</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Panel 2 ends -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.tabbable -->
    </div>
    <!-- /container-->
</section>
<!-- Section ends-->

<!-- Section Contact -->
<section id="contact" class="home-section">
    <div class="col-lg-8 col-lg-offset-2">
        <!-- Section heading -->
        <div class="section-heading">
            <h2>LIÊN HỆ</h2>
            <hr>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="margin col-md-4 col-sm-6 wow fadeInLeft" data-wow-delay="0.2s">
                <!-- Contact info -->
                <% @company.each do |info| %>
                  <h4>Thông tin</h4>
                  <p><%= info.name %></p>
                  <p><i class="fa fa-envelope"></i><%= mail_to info.email, info.email %></p>
                  <p><i class="fa fa-phone"></i><%= info.phone_1 %></p>
                  <p><i class="fa fa-phone"></i><%= info.phone_2 %></p>
                  <!-- Adress info -->
                  <h4>Địa chỉ</h4>
                  <p><i class="fa fa-map-marker"></i><%= info.address %></p>
                <% end %>
            </div>
            <div class="col-md-7 col-md-offset-1 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s">
                <!-- Contact form -->
                <%= form_for @contact, html: {class: "form-style", onsubmit: "return checkForm();"} do |f| %>
                    <div id="contact_results"></div>
                    <div class="form-group">
                        <%= f.text_field :name, class: "form-control input-field", placeholder: "Họ & Tên (Bắt buộc)", required: true %>
                    </div>
                    <div class="form-group">
                        <%= f.text_field :phone, class: "form-control input-field", placeholder: "Số điện thoại (Bắt buộc)", required: true %>
                    </div>
                    <div class="form-group">
                        <%= f.email_field :email, class: "form-control input-field", placeholder: "Địa chỉ email" %>
                    </div>
                    <div class="form-group">
                        <%= f.text_field :title, class: "form-control input-field", placeholder: "Tiêu đề (Bắt buộc)", required: true %>
                    </div>
                    <div class="form-group">
                        <%= f.text_area :message, class: "textarea-field form-control", placeholder: "Lời nhắn (Bắt buộc)", required: true %>
                    </div>
                    <div class="form-group">
                       <%= f.submit "Gửi liên hệ", class: "btn btn-default pull-right", alert: {message: 'Thank you!'} %>
                    </div>
                <% end %>
                <!--/Contact form -->
            </div>
            <!-- /col-md-6 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container-->
</section>

<!--Map -->
<div class="wow fadeInTop" data-wow-delay="0.2s">
    <div id="map-canvas"></div>
</div>
<!-- Section ends -->

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="0.2s">
            <div class="col-sm-6 col-md-4">
                <!-- Social Media icons -->
                <ul class="social-media">
                    <li><a title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a title="Google Plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
            <!-- Bottom Credits -->
            <div class="col-sm-6 col-md-6 pull-right">
                <p>Copyright © 2016. Dịch Vụ Tiệc - Sự Kiện Thịnh Phát</br>Developed by <i>Hoàng Khang Incotech</i></p>
            </div>
        </div>
        <!-- /row-->
    </div>
    <!-- /container -->
    <!-- Go To Top Link -->
    <div class="page-scroll hidden-sm hidden-xs">
        <a href="#page-top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    </div>
</footer>
<!-- /footer ends -->
<%= javascript_include_tag '/javascripts/contact-validation.js' %>