<% if @company.errors.any? %>
    <div id="error_explanation">
        <% @company.errors.full_messages.each do |message| %>
            <span class="label label-warning"><%= message %></span>
        <% end %>
        <hr/>
    </div>
<% end %>

<%= form_for @company, html: {class: "form-horizontal"} do |f| %>
<div class="panel-heading">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <legend class="text-semibold"><i class="icon-reading position-left"></i> Thông tin Công ty</legend>

                    <div class="form-group">
                        <%= f.label "Hình ảnh: ", class: "col-lg-3 control-label" %>
                        <div class="col-lg-9">
                            <div class="media no-margin-top">
                                <div class="col-lg-10">
                                  <%= f.file_field :image_url, class: "file-styled" %>
                                  <span class="help-block">Chấp nhận định dạng: gif, png, jpg. Kích thước tối đa 2Mb</span>
                                  <%= image_tag(@company.image_url, size: "200x100", alt: "Hình ảnh", class: "img-rouded") %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <%= f.label "Tên công ty: ",class: "col-lg-3 control-label" %>
                        <div class="col-lg-9">
                            <%= f.text_field :name, placeholder: "Nhập tên công ty/doanh nghiệp/dịch vụ tại đây...", class: "form-control" %>
                        </div>
                    </div>

                    <div class="form-group">
                        <%= f.label "Địa chỉ: ",class: "col-lg-3 control-label" %>
                        <div class="col-lg-9">
                            <%= f.text_field :address, placeholder: "Nhập địa chỉ tại đây...", class: "form-control" %>
                        </div>
                    </div>

                    <div class="form-group">
                        <%= f.label "Email: ",class: "col-lg-3 control-label" %>
                        <div class="col-lg-9">
                            <%= f.text_field :email, placeholder: "Ví dụ: example@example.com", class: "form-control" %>
                        </div>
                    </div>

                    <div class="form-group">
                        <%= f.label "Điện thoại #1", class: "col-lg-3 control-label" %>
                        <div class="col-lg-9">
                            <%= f.text_field :phone_1, placeholder: "+84-96xxxxxx", class: "form-control" %>
                        </div>
                    </div>

                    <div class="form-group">
                        <%= f.label "Điện thoại #2", class: "col-lg-3 control-label" %>
                        <div class="col-lg-9">
                            <%= f.text_field :phone_2, placeholder: "+84-93xxxxxx", class: "form-control" %>
                        </div>
                    </div>

                    <div class="form-group">
                        <%= f.label "Lời giới thiệu", class: "col-lg-3 control-label" %>
                        <div class="col-lg-9">
                            <%= f.text_area :intro, rows: "5", cols: "5", placeholder: "Lời giới thiệu về công ty..", class: "form-control" %>
                        </div>
                    </div>
                        
                    <div class="form-group">
                        <%= f.label "Dịch vụ hoạt động", class: "col-lg-3 control-label" %>
                        <div class="col-lg-9">
                            <%= f.text_area :description, rows: "4", cols: "4", id: "editor-full" %>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="text-right">
            <%= button_tag 'Lưu thông tin <i class="icon-plus22 position-right"></i>'.html_safe, class: "btn btn-primary"%>
        </div>
    </div>
</div>
    
<% end %>

<!-- Theme JS files -->
<%= javascript_include_tag '/assets/js/plugins/forms/styling/uniform.min.js' %>
<%= javascript_include_tag '/assets/js/core/app.js' %>

<%= javascript_include_tag '/assets/js/pages/form_layouts.js' %>
<%= javascript_include_tag '/assets/js/plugins/forms/selects/select2.min.js' %>
<%= javascript_include_tag '/ckeditor/ckeditor.js' %>
<%= javascript_include_tag '/assets/js/pages/editor_ckeditor.js' %>
<%= javascript_include_tag '//cdn.ckeditor.com/4.5.6/full/ckeditor.js' %>
<!-- /theme JS files -->
