<% if @picture.errors.any? %>
    <div id="error_explanation">
        <% @picture.errors.full_messages.each do |message| %>
            <span class="label label-warning"><%= message %></span>
        <% end %>
        <hr/>
    </div>
<% end %>

<%= form_for @picture, html: {class: "form-horizontal"} do |f| %>

    <div class="form-group">
        <%= f.label "Hình ảnh: ", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.file_field :image_url, class: "file-styled" %>
          <span class="help-block">Chấp nhận tập tin hình ảnh dịnh dạng: gif, png, jpg.Tối đa 2Mb</span>
          <%= image_tag(@picture.image_url, size: "250x150", alt: "Hình ảnh", class: "img-rouded") %>
        </div>
    </div>
    
    <div class="form-group">
        <%= f.label "Tiêu đề: ", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
            <%= f.text_field :title, placeholder: "Tiêu đề của hình ảnh (bắt buộc)", class: "form-control" %>
        </div>
    </div>
        
    <div class="form-group">
        <%= f.label "Thẻ: ", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
            <%= f.collection_select(:type_id, Type.all, :id, :title, {:prompt => "Chọn thẻ... (bắt buộc)"}, {class: "select"}) %>
        </div>
    </div>

    <div class="text-right">
        <button type="submit" class="btn btn-success">Lưu <i class="icon-plus22 position-right"></i></button>
    </div>
<% end %>

<!-- Theme JS files -->
<%= javascript_include_tag '/assets/js/plugins/forms/styling/uniform.min.js' %>
<%= javascript_include_tag '/assets/js/core/app.js' %>

<%= javascript_include_tag '/assets/js/pages/form_layouts.js' %>
<%= javascript_include_tag '/assets/js/plugins/forms/selects/select2.min.js' %>
<!-- /theme JS files -->