<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Dịch vụ tư vấn & tổ chức tiệc trọn gói, Dịch vụ cho thuê dụng cụ, thiết bị tổ chức tiệc - sự kiện, Dịch vụ trang trí">
    <meta name="author" content="">
    <!-- Page title -->
    <title>DỊCH VỤ TIỆC - SỰ KIỆN NGUYỄN TY</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag '/assets/frontend/js/html5shiv.min.js' %>
      <%= javascript_include_tag '/assets/frontend/js/respond.js' %>
    <![endif]-->

    <!-- Bootstrap Core CSS -->
    <%= stylesheet_link_tag '/assets/frontend/css/bootstrap.css' %>

    <!-- Icon fonts -->
    <%= stylesheet_link_tag '/assets/frontend/fonts/font-awesome/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag '/assets/frontend/fonts/flaticons/flaticon.css' %>

    <!-- Google fonts -->
    <%= stylesheet_link_tag '/assets/frontend/css/css.css' %>

    <!-- Css Animations -->
    <%= stylesheet_link_tag '/assets/frontend/css/animate.css' %>

    <!-- Theme CSS -->
    <%= stylesheet_link_tag '/assets/frontend/css/style.css' %>

    <!-- Color Style CSS -->
    <%= stylesheet_link_tag '/assets/frontend/styles/yellowpaws.css' %>

    <!-- Prefix free CSS -->
    <%= javascript_include_tag '/assets/frontend/js/prefixfree.js' %>

    <!-- Owl Slider & Prettyphoto -->
    <%= stylesheet_link_tag '/assets/frontend/css/owl.carousel.css' %>
    <%= stylesheet_link_tag '/assets/frontend/css/prettyPhoto.css' %>

    <!-- Custom CSS for my site -->
    <%= stylesheet_link_tag '/assets/frontend/css/custom.css' %>

    <!-- Favicons-->
    <link rel="apple-touch-icon" sizes="32x32" href="/assets/frontend/img/thinh-phat-touch-icon-32x32.png">
    <link rel="apple-touch-icon" sizes="64x64" href="/assets/frontend/img/thinh-phat-touch-icon-64x64.png">
    <link rel="apple-touch-icon" sizes="128x128" href="/assets/frontend/img/thinh-phat-touch-icon-128x128.png">
    <link rel="icon" href="/assets/frontend/img/favicon.png" type="image/x-icon">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
    
    <%= yield %>

    <!-- Core JavaScript Files -->
    <%= javascript_include_tag '/assets/frontend/js/jquery.min.js' %>
    <%= javascript_include_tag '/assets/frontend/js/bootstrap.min.js' %>
    <%= javascript_include_tag '/assets/frontend/js/main.js' %>

    <!-- Counter -->
    <%= javascript_include_tag '/assets/frontend/js/numscroller.js' %>

    <!-- WOW animations -->
    <%= javascript_include_tag '/assets/frontend/js/wow.min.js' %>

    <!-- Prettyphoto Lightbox -->
    <%= javascript_include_tag '/assets/frontend/js/jquery.prettyPhoto.js' %>

    <!-- Owl Carousel -->
    <%= javascript_include_tag '/assets/frontend/js/owl.carousel.min.js' %>

    <!-- Contact form -->
    <%= javascript_include_tag '/assets/frontend/js/contact.js' %>
    
    <!-- Newsletter Validation -->
    <%= javascript_include_tag 'contact-validation.js' %>

    <!-- Isotope -->
    <%= javascript_include_tag '/assets/frontend/js/jquery.isotope.js' %>

    <!-- Google maps -->
    <%= javascript_include_tag '/assets/frontend/js/google-map.js' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js' %>

</body>

</html>